{% extends "base.html" %}

{% block head %}
 <title>Anonymous Schooling Confessions</title>
{% endblock %}

{% block body %}
<header class="header">
  
</header>
<!-- Rest of the page content -->
<div class="content">
  <!-- Content goes here -->
  <h1>Welcome to EduInequality Data Portal</h1>
  <form action="/" method="post">
      <input type="text" name="leaid" placeholder="Enter LEAID">
      <button type="submit">Submit</button>
  </form>
  <li><a href="https://replit.com/@hseas-cs32-2024/Final-Project-hseas-cs32-2024-4">Replit file to try it yourself if code does not work!</a> </li>
</div>

{% endblock %}