{% extends "base.html" %}

{% block head %}
<title> Sources </title>
{% endblock %}

{% block body %}
<header class ="header"></header>
<div class="content">
<h1 style="text-align: center; color:white; font-family: 'Courier New', monospace">Sources</h1>
</div>

<h2 style="text-align: center; color:white; font-family: 'Courier New'">Regarding our project, here are some of the sources we have used to output information regarding school inequality!</h2>

<ul>
<li><a href="https://civilrightsdata.ed.gov/data; color: white; text-align: center">civilrightsdata.org</a> </li>
<li><a href="https://www.youtube.com/watch?v=-aqUek49iL8&t=885s; color: white">CS50 - Lecture 9 - Flask</a> </li>
<li><a href="https://nces.ed.gov/ccd/districtsearch/">IES > NCES - National Center for Educational Statistics</a> </li>
<li><a href="https://www.youtube.com/watch?v=-aqUek49iL8&t=885s; color: white">Final Video</a> </li>
</ul>
{% endblock %}